.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input-column {
    display: flex;
    flex-direction: column;
}

#input-container {
    display: flex;
    justify-content: center;
}